.wallet {
	padding-top: 10px;
	margin: 10rem;
	border-radius: 5px;
	background-color:rgb(4, 14, 14);
	color: aliceblue;
	padding-bottom: 10px;
}

.connectButton {
	padding: 5px 10px;
	margin-left: 10px;
	border: none;  
	margin-left: 10px;
	background-color: #033935;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .connectButton:hover {
	background-color: #1e6a44;
  }
